In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.sapia.org.za/Overview/Old-fuel-prices'
page = requests.get(url)

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find('div', class_='DnnModule DnnModule-DNN_HTML DnnModule-479')
table = lists.find('table', {'id': 'box-table'})

In [4]:
headers = []
for i in lists.find_all('td')[:13]:
    title = i.text
    headers.append(title)
print(headers)

['YR2012', '03-Jan-12', '01-Feb-12', '07-Mar-12', '04-Apr-12', '02-May-12', '06-Jun-12', '04-Jul-12', '01-Aug-12', '05-Sep-12', '03-Oct-12', '07-Nov-12', '05-Dec-12']

In [5]:
df = pd.DataFrame(columns=headers)

In [6]:
for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text for td in data]
    lenght = len(df)
    df.loc[lenght] = row_data

In [7]:
df.head()

,YR2012,03-Jan-12,01-Feb-12,07-Mar-12,04-Apr-12,02-May-12,06-Jun-12,04-Jul-12,01-Aug-12,05-Sep-12,03-Oct-12,07-Nov-12,05-Dec-12
0,COASTAL,,,,,,,,,,,,
1,95 LRP (c/l),1031.00,1065.00,1093.00,1159.00,1187.00,1132.00,1047.00,1069.00,1162.00,1185.00,1175.00,1166.00
2,95 ULP (c/l),1031.00,1065.00,1093.00,1159.00,1187.00,1132.00,1047.00,1069.00,1162.00,1185.00,1175.00,1166.00
3,Diesel 0.05% (c/l),1007.29,1006.29,1016.67,1064.27,1073.67,1048.85,986.270,1000.89,1069.89,1109.05,1119.25,1114.25
4,Diesel 0.005% (c/l),1012.69,1010.69,1020.07,1069.67,1078.07,1053.25,991.670,1007.29,1076.29,1116.45,1125.65,1119.65

In [8]:
df.to_csv('petroleum2012.csv')