In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.sapia.org.za/Overview/Old-fuel-prices'
page = requests.get(url)

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find('div', class_='DnnModule DnnModule-DNN_HTML DnnModule-432')
table = lists.find('table', {'id': 'box-table'})

In [4]:
headers = []
for i in lists.find_all('td')[:13]:
    title = i.text
    headers.append(title)
print(headers)

['YR2016', '06-Jan-16', '03-Feb-16', '02-Mar-16', '06-Apr-16', '04-May-16', '01-Jun-16', '06-Jul-16', '03-Aug-16', '07-Sep-16', '05-Oct-16', '02-Nov-16', '07-Dec-16']

In [5]:
df = pd.DataFrame(columns=headers)

In [6]:
for row in table.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text for td in data]
    lenght = len(df)
    df.loc[lenght] = row_data

In [7]:
df.head()

,YR2016,06-Jan-16,03-Feb-16,02-Mar-16,06-Apr-16,04-May-16,01-Jun-16,06-Jul-16,03-Aug-16,07-Sep-16,05-Oct-16,02-Nov-16,07-Dec-16
0,COASTAL,,,,,,,,,,,,
1,95 LRP (c/l),1194.00,1200.00,1131.00,1214.00,1226.00,1278.00,1286.00,1187.00,1169.00,1212.00,1257.00,1237.00
2,95 ULP (c/l),1194.00,1200.00,1131.00,1214.00,1226.00,1278.00,1286.00,1187.00,1169.00,1212.00,1257.00,1237.00
3,Diesel 0.05% (c/l),972.47,910.47,925.47,1015.47,1014.47,1090.47,1132.47,1058.47,1010.47,1033.47,1096.47,1064.43
4,Diesel 0.005% (c/l),977.87,914.87,928.87,1020.87,1018.87,1094.87,1135.87,1062.87,1013.87,1036.87,1099.87,1068.83

In [8]:
df.to_csv('petroleum2016.csv')